{% extends 'UserPanel/base_auth.html' %}
{% block title %}Регистрация нового пользователя{% endblock %}
{% block content %}
<body class="register-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Восстановление пароля</h4>
							<form method="POST" class="login-validation" novalidate="">
								<div class="form-group">
									<label for="email">E-Mail адрес</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
										<div class="form-text text-muted">
										Нажав «Сбросить пароль», мы отправим ссылку для сброса пароля.
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Сбросить пароль
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						&copy;
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}